<br>
<br>
<br>


<div class="container border " align="center" style="border-radius: 15px; border: 2px solid ; padding: 15px;">

<h2>Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email,  style: 'color: black;' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", style: 'border-radius: 25px; border: 2px solid black; background-color: ' %>
  </div>

  <div class="field">
    <%= f.label :password,  style: 'color: black;' %>
    <%= f.password_field :password, autocomplete: "current-password", style: 'border-radius: 25px; border: 2px solid black;' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
    <%= f.label :remember_me ,  style: 'color: black;'%>
      <%= f.check_box :remember_me  %>
      <br>
      <br>

    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" , style: 'border-radius: 25px; border: 2px solid black; padding: 5px;', class: 'btn  btn-lg' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>




</div>

<br>
<br>
<br>

<script>
		var plugin_path = '/assets/plugins/';
	</script> 


