<!DOCTYPE html>
<html>
  <head>
  <title>Rocket Elevators</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/re-icon.png" />
  <meta name="description" content="" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true%>
    <%= javascript_include_tag "application" %>

		<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<link href="/assets/lightgrey.css" rel="stylesheet" type="text/css" id="color_scheme" /> 

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  
  
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
		rel="stylesheet" type="text/css" />

	<!-- CORE CSS -->
	<link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- REVOLUTION SLIDER -->
	<link href="/assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

	<!-- THEME CSS -->
	<link href="/assets/essentials.css" rel="stylesheet" type="text/css" />
	<link href="/assets/layout.css" rel="stylesheet" type="text/css" />

	<!-- PAGE LEVEL SCRIPTS -->
    </head>

  <body smoothscroll enable-animation>


  
  <div id="header" class="navbar-toggleable-md sticky header-md clearfix dark">

  <!-- TOP NAV -->
  <header id="topNav">
  <!-- Logo -->
  <a class="logo float-left scrollTo" href="/">
	<img src="/assets/R2.png" alt="" />
  </a>
	<div class="container">
	  <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark ">

        <nav class="nav-main">

          <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
           
            <li>
            <!-- CONTACT -->
            <a href="#contact">
              CONTACT
            </a>
          </li>
          
            <li>
              <!-- SERVICES -->
              <a href="#services">
                SERVICES
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/residentialService"> Residential Services</a>
                </li>
                <li>
                  <a href="/corporateService"> Corporate Services</a>
                </li>
                <li>
                  <a href="/quotes/new">Get a Quotes</a>
                
                </li>
              </ul>
            </li>
            <li>
              <!-- WORK -->
              <a href="#portfolio">

                 PORTFOLIO
              </a>
            </li>
            <li>
              <!-- NEWS -->
              <a href="#news">
                NEWS
              </a>
            </li>
            <li>
              <!-- CLIENTS -->
              <a href="#clients">
                CLIENTS
              </a>
            </li>
          
            <li>
              <!-- HOME -->
              <a href="/">
              HOME
              </a>
			</li>
					
			<li>
			<!-- Account -->

			
			
		<% if current_user %>
		<a href="">
			Logged in as:	<%= current_user.email %>
			</a>
			<ul class="dropdown-menu">
			<li>
			<a href="">
				  <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %>
			</a>
		  </li>
			<% if current_user.admin == true %>
		  <li>
			<a href="/admin">
				Dashboard 
			</a>
		  </li>
			<% end %>
		<% else %>
		<a href="">
				 ACCOUNT <i class="fa fa-angle-right"></i>
			</a>
			<ul class="dropdown-menu">
		  <li>
		  <a href="">
				<%= link_to 'SIGN IN', new_user_session_path %>
		  </a>
		</li>

			<% end %>
			</ul>
		  </li>



			
		
          </ul>

        </nav>
      </div>

    </div>
  </header>


</div>


	<%= yield %>



    
		<!-- FOOTER -->
		<footer id="footer">
			<div class="container">


				<div class="row">

					<!-- col #1 -->
					<div class="col-md-8">

						<h3 class="letter-spacing-1">WHY US?</h3>

						<!-- Small Description -->
						<p>
							Rocket elevator is the best leading company on the market in elevator and got the best team
							of passionnate employee since 1976
						</p>
						<h2>1-800-565-2390</h2>
					</div>
					<!-- /col #1 -->

					<!-- col #2 -->
					<div class="col-md-4">
						<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

						<!-- Newsletter Form -->
						<p>Subscribe to Our Newsletter to get Important News & Offers</p>

						<form class="validate" action="php/newsletter.php" method="post"
							data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
								<input type="email" id="email" name="email" class="form-control required"
									placeholder="Enter your Email">
								<span class="input-group-btn">
									<button class="btn btn-info" type="submit">Subscribe</button>
								</span>
							</div>
						</form>
						<!-- /Newsletter Form -->


					</div>
					<!-- /col #2 -->

				</div>


			</div>

			<div class="copyright">
				<div class="container">
					<ul class="float-right m-0 list-inline mobile-block">
						<li><a href="#">Terms &amp; Conditions</a></li>
						<li>&bull;</li>
						<li><a href="#">Privacy</a></li>
					</ul>
					&copy; All Rights Reserved, Rocket Elevators
				</div>
			</div>

		</footer>
		<!-- /FOOTER -->

	</div>
	<!-- /wrapper -->


	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>




	<!-- PRELOADER -->
	<div id="preloader">
		<div class="inner">
			<span class="loader"></span>
		</div>
	</div><!-- /PRELOADER -->

  
	<!-- JAVASCRIPT FILES -->

	


	<script src="/assets/scripts.js"></script>



	<!-- REVOLUTION SLIDER -->
	<script src="/assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="/assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="/assets/view/demo.revolution_slider.js"></script>
	<!-- PAGELEVEL SCRIPTS -->
 	<script src="/assets/contact.js"></script>

  </body>
</html>
